/*
Main Colors 
A: 168 38 130
B: 124 48 134
C: 180 92 214
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    /* Safari */
}
.scrolling{
    background-color: black;
}
.img-edit{
    height:350px!important;
     width:auto!important;
    display: block;

    
}

.img-thumbnail {    
    background-color: rgba(180, 92, 214, 0.2);

box-shadow: 2px 2px 15px black;
}


.hScoo {
    background-color: rgba(0, 0, 0, 0.2) !important;
   
}

.about-text-d{
    background: rgba(0, 0, 0, 0.5)!important;
}
.bScoo {
    /*background-color: rgba(180, 92, 214, 0.4) !important;*/
    background-color: rgba(180, 92, 214, 0.8);
 

    padding-top:1px;
    padding-bottom: 1px; 
    font-size: 21px!important;
   border-top:1px solid rgb(134, 133, 133);
    color:white!important;
}

 
.hScoo h3 {
    color: white;
    padding:10px;
}


.card-footer {
    background-color: rgba(180, 92, 214, 0.1);
    padding: 0 !important;


}

.card-mg {
    border: none !important;
    margin-bottom: 30px!important;

}

.selectpicker {

    width: auto;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 1);
    padding: 2px;
    color: white;

}

.nav-link {
    transition: color .2s;
}

.about-p{
    border-radius: 5px;
}
.about-text{
   
    font-size: 19px!important;
    color:black;
    font-weight: 500;
}
.container-fluid{
    padding:0!important;
}
.lead {
    font-size: 28px;
    line-height: 1.1em;
    font-style: italic;
    color: rgba(255, 255, 255, 0.9) !important;

}

.navbar-toggler-icon {
    color: white!important;
    background-color: rgb(180, 92, 214);
    border-radius: 5px;
    line-height: 1.5;
}

.navbar-brand img {
    width:10em;
}
.detay{
    min-height: 300px!important;
    height: auto!important;
    position: relative;
}
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    bottom: 35vh;
}

.mHeads {
    font-weight: 600 !important;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 60px;
    line-height: 10vh;
    

    text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);

}

.mainContainer {
    position: relative;
}

.mButton {
    border-radius: 0;
    border: 2px solid white;
    font-style: italic;
    font-size: 16px;
    padding: 10px 25px;
    font-weight: 600;
    letter-spacing: .5px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5) !important;
    height: 80px;
}

.btn {
    background-color: rgba(0, 0, 0, 0.3) !important;
}
.detay-next{
text-align: right;
position: absolute;
bottom:0;
right:0;
margin-right:10px;
}
.detay-n{
    font-size: 13px;
    font-style: italic;
    text-decoration: none;
    background-color: white;
    padding:5px 10px 5px 10px;
    color:black;
    border-radius: 5px;
}
.detay-n:hover{text-decoration: none;
                color:white;
            
    background-color: rgb(180, 92, 214);
}
.biz{
    border:1px solid   rgba(180, 92, 214,0.5);
    
}
.biz-link{
    color: rgb(180, 92, 214);

}
.biz-link:hover{
    color:white;
}
.more p{
    background-color: rgba(0, 0, 0, 0.3) !important;
    color:white;
    padding:20px 20px 30px 20px;
    border-radius: 5px;
   
}
.card-link {
    color: white!important;
    background-color: rgba(189, 119, 218, 0.1);
    padding: 7px !important;
    font-size: 14px !important;
    padding: 0 2px 0 2px;
    
    margin:0;
}
.card{border:none!important;}
.card-link:hover {
    background-color: rgba(158, 73, 132,0.4) !important;
    color: white;
}
.card-title{
  color: white;
    font-weight: 700;
}
.card-text{
    font-size:15px;
    font-style: italic;
    
   
   
}
.text-muted {
    font-size: 14px !important;
    align-content: center !important;
    line-height:2.5;
    color:white!important;
}

.mbt {
    font-size: 20px;
}

.btn:hover {
    background-color: rgba(180, 92, 214, 0.8) !important;
}

.nav-link {
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 20px;
}

.nav-link:hover {
   color: rgb(180, 92, 214)!important;

}

.footer {
    background-color: rgba(0, 0, 0, 1) !important;
    color: white;
}

.footer .links ul {
    list-style-type: none;
}

.footer .links li a {
    color: white;
    transition: color .2s;
}

.footer .links li a:hover {
    text-decoration: none;
    color: rgb(180, 92, 214);

}

.footer .about-company i {
    font-size: 25px;
}

.footer .about-company a {
    color: white;
    transition: color .2s;
}

.footer .about-company a:hover {
 color: rgb(180, 92, 214);

}

.footer .location i {
    font-size: 18px;
}

.footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.lang-select-a{
    text-decoration: none!important;
    color:black;
    font-style: italic;border-radius: 2px !important;
    padding: 5px;
    font-weight: 400;
}

.lang-select:hover a{
color:white;
background-color: rgb(180, 92, 214);

}

.navPad{
    padding-top:80px;
}
.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }
  .img-thumbnail{
      border:none!important;
  }
  #image-gallery .modal-footer{
    display: block;
  }
  
  .thumb{
    margin-top: 15px;
    margin-bottom: 15px;
   
  }
.mForm{
padding: 40px 30px 40px 20px;
}
.mInfo{
padding: 40px 30px 40px 20px;
color:white;
font-size: 17px;

}

  
  .green{
    background-color:#6fb936;
  }
          .thumb{
              margin-bottom: 30px;
          }
          
          .page-top{
              margin-top:85px;
          }
  
     
  img.zoom {
      
      width: 100%;
      height: 200px;
      border-radius:5px;
      object-fit:cover;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
  }
          
   
  .transition {
      -webkit-transform: scale(1.2); 
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
  }
      .modal-header {
     
       border-bottom: none;
  }
      .modal-title {
          color:#000;
      }
      .modal-footer{
        display:none;  
      }
  